body {
	background-color: #70c1b3;
}

.intro {
	text-align: center;
	color: #50514f;
	font-family: 'Nunito', sans-serif;
}

#clicks {
	/*background-color: red;*/
}

.container {
	max-width: 705px;
	max-height: 710px;
	margin: auto;
	overflow: auto;
	background: #f25f5c;
	border-radius: 3%;
}

.square {
	width: 152px;
	height: 152px;
	background: #247ba0;
	float: left;
	margin: 1.66%;
	border-radius: 15%;
	display: inline-block;
	text-align: center;
}

.square i {
	font-size: 40px;
	line-height: 50px;
	vertical-align: middle;
	margin-top: 42px;
	color: white;
	visibility: hidden;
}

.show {
	visibility: visible !important;
}

/*.hidden {
	visibility: hidden;
}*/