html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
	background-color: #70c1b3;
	font-family: 'Nunito', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    /*color: #50514f;*/
}

/*
Style for Deck of Cards
*/
.board {
	max-width: 623px;
	max-height: 680px;
	background: #f25f5c;
	margin: auto;
	overflow: auto;
	border-radius: 3%;
	box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.board .square {
	width: 135px;
	height: 135px;
	background: #247ba0;
	border-radius: 15%;
	float: left;
	margin: 1.66%;
	text-align: center;
	cursor: pointer;
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.board .square i {
	font-size: 40px;
	line-height: 50px;
	vertical-align: middle;
	margin-top: 42px;
	color: white;
	visibility: hidden;
}

.show {
	visibility: visible !important;
}


/*FIGURE OUT WHAT OF THIS TO KEEP AND WHAT GOES*/
/*.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}*/


/*
Styles for Score Panel
*/
.score-panel {
	text-align: left;
	width: 345px;
	margin-bottom: 10px;
}

.score-panel .stars {
	margin: 0;
	padding: 0;
	display: inline-block;
	margin: 0 5px 0 0;
}

.score-panel .stars li {
	list-style: none;
	display: inline-block;
}

.score-panel .restart {
	float: right;
	cursor: pointer;
}
