

body {
	background: #cb2d3e;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #ef473a, #cb2d3e);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #ef473a, #cb2d3e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.intro {
	text-align: center;
	color: #462e47;
}

.container {
	max-width: 720px;
	margin: 20px auto;
}

.square {
	width: 20%;
	background: #2e3c47;
	padding-bottom: 20%;
	float: left;
	margin: 1.66%;
	border-radius: 15%;
}


